//二级效果混合
@mixin twoshow( $top:36px, $left:50%, $margin-left:-71px, $z-index:100) {
    position: absolute;
    top: $top;
    left: $left;
    margin-left: $margin-left;
    z-index: $z-index;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .15);
    display: none;
}

header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    position: relative;
}

.nav {
    background: #000000;
    font-size: 12px;
    li {
        line-height: 36px;
        padding: 0 12px;
        float: left;
        a {
            color: #cccccc;
        }
        a:hover {
            color: #ffffff;
        }
    }
    ul {
        float: right;
        li {
            float: left;
            line-height: 36px;
            padding: 0 12px;
            a {
                color: #cccccc;
            }
            a:hover {
                color: #ffffff;
            }
        }
    }
}

//下载二级效果
.nav {
    .downland_li {
        position: relative;
        &:hover .downland {
            display: block;
        }
        .downland {
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -8px;
                border: 8px solid transparent;
                border-bottom-color: white;
                top: -15px;
            }
            width:124px;
            height:142px;
            @include twoshow();
            text-align: center;
            img {
                height: 80px;
                width: 80px;
                margin: 20px auto 0;
                display: block;
            }
        }
    }
}

.nav2 {
    h1 {
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        margin-top: 18px;
        img {
            display: inline-block;
            height: 42.5px;
            width: 152px;
        }
    }
}

.nav2 {
    ul {
        display: inline-block;
        margin-top: 6px;
        li {
            float: left;
            height: 64px;
            line-height: 64px;
            padding: 0 18px;
            a {
                color: black;
            }
        }
    }
}

// 下拉菜单
.nav2 li {
    &:hover .down_menu {
        display: block;
    }
    .down_menu {
        width: 100%;
        @include twoshow( 108px, 0, 0px, 50);
        background-color: #f7f7f7;
        padding: 12px 0;
        ul {
            display: block;
            width: 800px;
            li {
                float: left;
                height: 44px;
                width: 188px;
                line-height: initial;
                margin: 0 0 24px 0;
                a {
                    line-height: initial;
                    display: inline-block;
                    height: 44px;
                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    span {
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}

.nav2 .search {
    float: right;
    height: 64px;
    line-height: 64px;
    span {
        vertical-align: top;
        font-size: 30px;
        font-weight: 1300px;
    }
}